<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

</head>

<body>

    {% block content %}
        <h1>password_change</h1>
        <p>
            please enter your old password, for security's sake, then enter your 
            new password twice so we can verify you typed it in correctly.
        </p>

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-success" type="submit" value="Change my Password">
        </form>
    {% endblock content %}

</body>
</html>